{% extends 'cafe/base.html' %}
{% block content %}
    <br>
    <br>
    <br>
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>منو</h2>
                <p>اضافه‌کردن وعده غذایی</p>
            </div>
        </div>
        {{ form }}
    <div>asdasdjasdjasdjasjd</div>
    <div>asdasdjasdjasdjasjd</div>

    <div>asdasdjasdjasdjasjd</div>
    <div>asdasdjasdjasdjasjd</div>
        <div class="container" data-aos="fade-up">
            <div class="row mt-5">
                <div class="col-12 mt-5 mt-lg-0">
                    <form method="post" role="form" class="add-form" enctype="multipart/form-data" id="add-course-form">
                        <div class="row">
                            {#                            {{ c.as_p }}#}
                        </div>
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <div class="form-control">{{ form.name }}</div>
{#                                <input type="text" name="name" class="form-control" id="name"#}
{#                                       placeholder="نام وعده غذایی"#}
{#                                       required>#}
                            </div>
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <select name="course" id="course" required class="form-control form-select">
                                    <option selected disabled>نوع وعده غذایی</option>
                                    {% for course in courses %}
                                        <option value="{{ course }}">{{ course }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-6 form-group">
                                <input type="number" name="price" class="form-control" id="price"
                                       placeholder="قیمت (مثلاً 29 تومان)"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <div class="mb-3">
                                <label for="id_image" class="form-label">عکس وعده غذایی</label>
                                <input type="file" name="image" id="id_image" accept="image/*" class="form-control"
                                       required>
                            </div>
                        </div>
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="description" id="description" rows="8"
                                      placeholder="توضیحات وعده غذایی"
                            ></textarea>
                        </div>
                        {% csrf_token %}
                        <div class="text-center">
                            <button type="submit">ثبت</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block end_scripts %}
    <script>
        $(document).ready(function () {
            $("#add-course-form").submit(function (e) {
                e.preventDefault();
                let data = new FormData(this);

                $.ajax({
                    type: 'POST',
                    {#url: "{% url 'phishing_detection-check-mavara_file_upload' %}",#}
                    data: data,
                    processData: false,
                    contentType: false,

                    statusCode: {
                        200: function (data) {
                            toastr.success(data);
                        },
                        400: function (data) {
                            toastr.warning(data);
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}