<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        {{ APP_NAME_TAG | safe }}
                        <p>
                            {{ ADDRESS_TAG | safe }}
                            <br>
                            <strong> تلفن:</strong>{{ PHONE }}<br>
                        </p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-6 footer-links">
                    <h4>دسترسی سریع</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cafe-landing' %}">صفحه اصلی</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cafe-menu' %}">منو</a></li>
                        <li><i class="bx bx-chevron-right"></i> <a href="{% url 'cafe-reservation' %}">رزرو میز</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyleft <strong><span>KiNG - The NRK</span></strong>. All Wrongs Reserved
        </div>
        <div class="credits">
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
        <div>

        </div>
    </div>
</footer><!-- End Footer -->