{% extends 'cafe/base.html' %}
{% load static %}

{% block content %}
    <section id="menu" class="menu section-bg" style="padding-top: 120px; min-height: 800px">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>منو</h2>
                <p>منوی اصلی کافه</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-12 d-flex justify-content-center">
                    <ul id="menu-flters">
                        <li data-filter="*" class="filter-active">همه‌ی غذاها</li>
                        <li data-filter=".filter-coffees">قهوه</li>
                        <li data-filter=".filter-cold_drinks">نوشیدنی سرد</li>
                        <li data-filter=".filter-hot_drinks">نوشیدنی گرم</li>
                        <li data-filter=".filter-milkshakes">شیک</li>
                        <li data-filter=".filter-desserts">دسر</li>
                        <li data-filter=".filter-smoothies">اسموتی</li>
                        <li data-filter=".filter-teas">چای</li>
                        <li data-filter=".filter-breakfasts">صبحانه</li>
                        <li data-filter=".filter-main_courses">غذای اصلی</li>
                        <li data-filter=".filter-appetizers">پیش‌غذا</li>
                        <li data-filter=".filter-salads">سالاد</li>
                    </ul>
                </div>
            </div>
            <div class="row menu-container aos-init aos-animate" data-aos="fade-up" data-aos-delay="200"
                 style="position: relative; height: 600px;" id="menu-items">

            </div>

        </div>
    </section><!-- End Menu Section -->
{% endblock %}
{% block end_scripts %}
    <script src="{% static 'cafe/menu.js' %}"></script>
    <script src="{% static 'utilities/decimal.js' %}"></script>
    <script>
        $(document).ready(function () {
            let menuItems = $("#menu-items");
            $.getJSON("{% url 'cafe:menu-courses-api' %}", function (data) {
                let divs = createMenu(data);
                menuItems.html(divs);
            });
        });
    </script>
{% endblock %}
